html {
    background-color: #121212;
    color: #eee;
    font-family: Helvetica, sans-serif;
    font-size: 21px;
}

body {
    margin: 0;
}

.content {
    margin-right: auto;
    margin-left: auto;
    max-width: 34em;
    padding: 1rem;
}

h1 {
    font-size: 3em;
    margin: 0;
}

a {
    color: royalblue;
    text-decoration: none;
}

video {
    width: 100%;
    height: auto;
}

img {
    width: 100%;
    height: auto;
}
